#* @vtlvariable name="action" type="com.ntnguyen.app.confluence.licensetracking.view.ConfigurationView" *#
<div class="tab-content">
  <div id="credential-info" hidden>
    <input type="hidden" id="mp-credential" value="$!{action.getMpCredential()}">
    <input type="hidden" id="mp-auth-email" value="$!{action.getMpAuthEmail()}">
  </div>
  <div class="credential-message" id="credential-message"></div>
  <form class="aui" id="credential-form">
    <div class="field-set">
      <div class="field-group">
        <label for="mp-email">Credential:</label>
        <input type="text" id="mp-email" class="text long-field" placeholder="email">
      </div>
      <div class="field-group">
        <label for="mp-password"></label>
        <input type="password" id="mp-password" class="text long-field" placeholder="password">
        <div class="description">The credential to authenticate with Atlassian Marketplace</div>
      </div>
      <div class="buttons-container">
        <div class="buttons">
          <button id="save-credential" class="button">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
