<html lang="en">
<head>
  <title>Marketplace License Tracking Configuration</title>
  <content tag="no-page-header">true</content>
  <meta name="decorator" content="admin" />
  <content tag="selectedWebItem">mlt-config-web-item</content>
</head>
<body>
<div id="mlt-config-mount"></div>
</body>
</html>
$webResourceManager.requireResource(
    "com.ntnguyen.app.confluence.license-tracking-app:mlt-config-resource")
