<table class="aui">
  <thead>
  <tr>
    <th id="startDate">Start date</th>
    <th id="licenseId">License ID</th>
    <th id="customer">Customer</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td headers="startDate">2020-07-30</td>
    <td headers="licenseId">SEN-L15815014</td>
    <td headers="customer" title="Nhac Tat Nguyen">
      <a href="#">Nhac Tat Nguyen</a>
    </td>
  </tr>
  </tbody>
</table>
