#* @vtlvariable name="licenses" type="java.util.List<com.ntnguyen.app.confluence.licensetracking.persistent.entity.LicenseEntity>" *#
<table class="aui aui-table-interactive license-table">
  <thead>
  <tr>
    <th id="startDate">Start Date</th>
    <th id="licenseId">License ID</th>
    <th id="customer">Company</th>
    <th id="app">App</th>
    <th id="licenseType">License</th>
    <th id="endDate">End Date</th>
  </tr>
  </thead>
  <tbody>
      #foreach($license in $licenses)
      <tr>
        <td headers="startDate">${license.getMaintenanceStartDate()}</td>
        <td headers="licenseId">${license.getLicenseId()}</td>
        <td headers="customer" title="${license.getContactDetails().getCompany().getName()}">
          <a href="#">${license.getContactDetails().getCompany().getName()}</a>
        </td>
        <td headers="app">${license.getApp().getName()}</td>
        <td headers="licenseType">${license.getType().getName()}</td>
        <td headers="endDate">${license.getMaintenanceEndDate()}</td>
      </tr>
      #end
  </tbody>
</table>
<h3>Showing total <b>${licenses.size()} licenses</b></h3>
