#* @vtlvariable name="action" type="com.ntnguyen.app.confluence.licensetracking.macro.LicenseTrackingMacro" *#
#* @vtlvariable name="licenses" type="java.util.List<com.ntnguyen.app.confluence.licensetracking.persistent.entity.LicenseEntity>" *#
<div id="mlt-macro-mount"></div>
<table class="aui aui-table-interactive license-table">
  <thead>
  <tr>
    <th id="licenseId">License ID</th>
    <th id="app">App</th>
    <th id="company">Company</th>
    <th id="contact">Contact</th>
    <th id="licenseType">License</th>
    <th id="startDate">Start Date</th>
    <th id="endDate">End Date</th>
    <th id="status">Status</th>
  </tr>
  </thead>
  <tbody>
      #foreach($license in $licenses)
      <tr>
        <td headers="licenseId">${license.getLicenseId()}</td>
        <td headers="app">${license.getApp().getName()}</td>
        <td headers="company" title="${license.getContactDetails().getCompany().getName()}">
          <a href="#">${license.getContactDetails().getCompany().getName()}</a>
        </td>
        <td headers="contact">
            #set($contact = ${license.contactDetails.technicalContact})
            ## Name can be null in Marketplace
            #if ($contact.name)
                ${contact.name} (<a href="mailto:${contact.email}">${contact.email}</a>)
            #else
              <a href="mailto:${contact.email}">${contact.email}</a>
            #end
        </td>
        <td headers="licenseType">${license.getType().getName()}</td>
        <td headers="startDate">${action.formatDate(${license.getMaintenanceStartDate()})}</td>
        <td headers="endDate">${action.formatDate(${license.getMaintenanceEndDate()})}</td>
        <td headers="status">
            #if(${action.isNotExpired($license)})
              Active
            #else
              Expired
            #end
        </td>
      </tr>
      #end
  </tbody>
</table>
<h3>Showing total <b>${licenses.size()} licenses</b></h3>
