.subscribers-container {
  max-width: 646px;
}

#subscribers-table th#email {
  font-size: 14px;
}

#subscribers-table tr:hover td:last-child > span.remove-subscriber {
  display: inline;
}

.remove-subscriber {
  display: none;
  cursor: pointer;
  color: #888;
}

.remove-subscriber:hover {
  color: #333;
}

.tab-content {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2em 0;
  margin-top: 5px;
  min-width: 700px;
  max-width: 750px;
}

.credential-message {
  padding: 10px 35px;
}
